.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    display: table;
}

.thead {
    background: linear-gradient(135deg, #90db34 0%, #41b929 100%);
    color: #fff;
    text-align: center;
    height: 40px;
    font-size: 0.95rem;
    font-weight: 600;
    display: table-header-group;
}