.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    margin: 3px;
    text-align: center;
    background-color: rgb(192, 243, 201);
    min-width: 200px;
    font-size: 0.9rem;
    min-height:  100px;
}

.emoji {
    font-size: 6rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: cover;
    border-radius: 5px;
    display: none;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(116, 243, 94);
}
.ulproductos {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.titulo {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

@media (max-width:400px) {
    .card {
        max-width: 100%;
        margin: 8px;
        padding: 12px;
    }
    .ulproductos {
        flex-direction: column;
        align-items: center;
    }
}

